
.search-container {
	width: 80%;
	display: table;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	font-size: 16px;
}


p {
	word-wrap: break-word !important;
}

.search-header {
	width: auto;
	border-bottom: 1px solid #666;
	margin-bottom: 20px;
	position: relative;
}

.search-info {
	font-size: 1.5em;
}

.view-type {
	margin: auto 20px;
	text-align: right;
	font-size: 1.69em;
}

.view-type a {
	color: #000;
}

.keyword {
	color: #ff0000;
}


/*  pagination */
.pd-pagination {
	display: table;
	margin-left: auto;
	margin-right: auto;
    list-style: : none;
}

.pd-pagination li {
  display: inline-block;
  margin: 1px;
}

.pd-pagination li a {
    border: 1px solid transparent;
    border-radius: 2px;
    color: black;
    padding: 6px 12px;
    text-decoration: none;
}

.pd-pagination .active a {
    background-color: #FF7722;
    color: white;
}

.pd-pagination .disable a{
	background-color: #999999;
    color: white;
}

ul.pd-pagination li a:hover:not(.active) {
	border: 1px solid #333333;
}

/* end pagination */

.search-footer {
	margin: 20px;
	height: 40px;
}

.pd-center {
	display: table !important;
	margin-left: auto;
	margin-right: auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


/* search 1 */

p {
	font-family: sans-serif;
}

.search-header {
	padding-left: 20px;
	margin-bottom: 0px;
}

.search-content {
	display: table;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.s-item {
	padding-bottom: 0px;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 0px;
	height: auto;
	
}

.item-wrapper {
	width: 100%;
	height: auto;
}

.item-wrapper > div {
	display: table-cell;
}

.s-img a:hover .img-res{
	opacity: 0.9;
}

.s-info {
	height: 100%;
	padding: 15px 20px 0px 15px;
	margin: auto;
	vertical-align: top;
}


.title a {
	font-weight: bold;
	text-decoration: none;	
	color: #000;
	font-size: 1.1em;
}

.title a:hover {
	color: #00f;
}

.author {
	line-height: 1;
	font-style: italic;
	font-size: 0.9em;
}

.book-format {
	line-height: 1;
	font-size: 0.9em;
}

.price {
	line-height: 70%;
}

.real-price {
	font-weight: bold;
	text-decoration: none;	
	color: #00f;
	font-size: 1em;
}

.original-price {
	text-decoration: line-through;
	font-size: 0.9em;
	line-height: 0.5;
}

.discount {
	padding: 5px;
	background: #FF7722;
	color: #fff;
	border-radius: 2px;
}


.description {
	font-size: 0.9em;
	text-align: justify;
}

.see-more {
	text-decoration: none;
}

.s-add-to-cart a {
	display: inline-block;
	text-decoration: none;
	margin: auto;
}

.s-add-to-cart a:hover .add-to-cart-text {
	background-color: #e00;
}

.add-to-cart-text {
	padding: 5px;
	background-color: #f00;
	border-radius: 2px;
	color: #fff;
	margin: 20px auto;
}

/* list-view layout */
.list-view .img-res {
	height: 210px;
	margin: 15px auto;
}


.list-view .s-item {
	width: 100%;
}
/* end list-view layout */


/* grid-view layout */

.grid-view .s-item {
	width: 25%;
	display: inline-block !important;
	border: none !important;
}

.grid-view .s-info {
	padding: 15px 20px 0px 15px;
}

.grid-view .item-wrapper {
	margin: 5px;
	width: auto !important;
	border: 1px solid #ddd;
}

.grid-view .item-wrapper>div {
	display: block !important;
}

.grid-view .item-wrapper .img-res {
	width: 160px;
	display: table;
	margin: 15px auto;
}

.grid-view .s-add-to-cart a {
	display: table;
}

/* end grid-view layout */

@media only screen and (max-width: 1200px) {
	.search-container {
		width: 100% !important;
	}
}

@media only screen and (max-width: 1024px) {
	.search-container {
		width: 100% !important;
	}
}

@media only screen and (max-width: 900px) {
	.grid-view .s-item {
		width: 33.33% !important;
	}

}

@media only screen and (max-width: 768px) {
	.grid-view .s-item {
		width: 33.33% !important;
	}

}

@media only screen and (max-width: 680px) {
	.grid-view .s-item {
		width: 50% !important;
	}

}

@media only screen and (max-width: 515px) {
	.grid-view .s-item {
		width: 50% !important;
	}

	.hidden-mb {
		display: none !important;
	}

}

@media only screen and (max-width: 480px) {

	.item-wrapper > div {
//		display: block;
	}

	.img-res {
		display: table;
		margin: auto;
		margin-top: 15px;
		width: 130px !important;
	}

	.s-add-to-cart a {
		display: table;
	}

	.description {
		display: none;
	}

	.hidden-mb {
		display: none;
	}

	.list-view .img-res {
		height: 180px;
		margin: 15px auto;
	}
}

@media only screen and (max-width: 460px) {
	.grid-view .s-item {
		width: 100% !important;
	}

	.s-info {
		padding-left: 10px;
	}
}

@media only screen and (max-width: 359px) {
	.item-wrapper > div {
		display: block;
	}

	.view-type {
		display: none;
	}
}


@media only screen and (max-width: 320px) {
	.s-info {
		padding-left: 10px;
	}
}
