  body {
      position: relative;
  }
.red{
	background-color: red;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: green;
}
.banner{
	width: 100%;
	max-height: 400px;
}
.top-bar{
	background-color: #F5F5F5;
	padding: 5px 0px;
}
.top-bar.lang{
	font-size: 11px;
}
.top-bar.lang button{
	border: none;
	border-radius: 0px;
}
.no-border{
	border: none;
	border-radius: 0px;
}

.top-bar.lang ul .dropdown-menu{
	margin-top:0px;
}
.top-links{
	padding-top: 7px;
	overflow: hidden;
}
.top-links li{
	display: block;
	float: left;
	padding:0px 15px 0px 10px;
	border-right: 1px solid #e1e1e1; 
}

.top-links li:last-child{
	border-right:  none; 
	/*padding-right: 0px: */
}
.main-header{
	padding: 35px 0px;
}
.cart-w,.wishlist-w{
	float: left;
}
.cart-w{
	margin:0px 20px 0px 0px;
}
.cart-wish-w span strong{
	font:12px;
	font-weight: normal;
	color: #F2532F;
	padding: 0px 5px 0px 0px;
}
.cart-wish-w span{
	border: 1px solid #d1d1d1;
	padding: 5px 10px;
	display: block;
	float: left;
	border-right: none: 

}
.cart-wish-w a{
	display: inline-block;
	float: left;
	width: 31px;
	height: 31px;
	line-height: 39px;
	text-align: center;
	color:#fff;
	background: #F2532F;
	margin-top: -1px;
	
}


/*main nav*/
.nav-pills > li.active > a,.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background: none;
}
.main-navbar{
	background: #1E1E21;
	color: #fff;
}

.main-navbar li a{
	font-size:  14px;
	font-weight: bold;
	color: #fff;
	padding: 15px;
	border-top: 5px solid #1E1E21;
}

.main-navbar li a:hover, .main-navbar li.active a:hover{
	color:#000;
	border-radius: 0px;
	border-color: #F2532F;
	background: #fff;

}

.main-navbar li ul li{
	padding: 5px 10px;

}
.main-navbar > ul li a{
	background: #fff;
	color:#000;
	border: none;
	border-radius: 0px;
	font-size: 12px;
	font-weight: normal;
	padding: 5px 10px;
}


.dropdown-menu li a{
	display: block;
	color: #000;
	padding:0px;
	margin:0px;
	border-top: none;
	border-bottom: 5px solid #1E1E21;

	/*background-color: red;*/
}
/*Dùng để  chỉnh vị trí cho navbar khi scroll*/

 .affix ~ .container-fluid {
     position: relative;
     top: 50px;
     background-color:#1E1E21;
  }

  .affix {
     top:0;
     width: 100%;
     z-index: 9999 !important;
     background-color: #000;
     position: fixed;
    left: 0px;
    padding-left: 6%;
    font:50%;


  }


.dropdown-menu li:hover a{
	display: block;
	color: red;
}

/*slider*/

/*content*/

section.content{
	padding: 40px 0px;
}

/*promo*/

.promo{
	margin-bottom: 30px;

}
.promo img{
	width: 100%;
}

/*product-list*/

h3.box-title{
	text-align: center;;
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.product-items{
	position: relative;
}
.product-items .image .line{
	width: 20px;
	height: 1px;
	background:#F2532F;
	margin:-1px 0px 0px 20px;
}

.product-items .image:hover .line{
	transition: width 2%;
	width: 90%;
}
.product-items .img-responsive{
	width: 100%;
	height: 400px;
}
.product-items:hover .image{
	border-bottom: 1px solid #e1e1e1;
	background-color: 
}
.product-items .image{
	width: 100%;
}


.product-items .image .wishlist{
	position: absolute;
	bottom: 90px;
	right: 50px;
	display: none;
}

.product-items .image .wishlist a{
	display: block;
	width: 33px;
	height: 33px;
	color: #fff;
	background: #F2532F;
	line-height: 32px;
	text-align: center;
}
.product-items:hover .image .wishlist{
	display: block;
}
.product-items .title a:hover{
	color: #000;
}
.product-item .info del{
	display: block;
	float: left;
	font-size: 11px;
	margin:0px 10px 0px 0px;
	padding-top: 6px;
}
.product-items .info ins{
	text-decoration: none;
	font-size:16px;
	color: #F2532F;
}
.product-items .btn-cart a{

	display: block;
	width: 33px;
	height: 33px;
	line-height: 33px;
	color: #fff;
	text-align: center;
	border-radius: 2px solid black;
	text-decoration: none;
}
.btn-cart{
	border: 1px solid;
	padding: 5px;
}

/*PTuan*/

.img {
    float: left;
    margin: 10px;
    padding: 5px;
}

.space {
    width: 100px;
    height: 156px;
    float: left;
}

 .jssorb03 {
            position: absolute;
        }
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
            position: absolute;
            /* size of bullet elment */
            width: 21px;
            height: 21px;
            text-align: center;
            line-height: 21px;
            color: white;
            font-size: 12px;
            background: url('../img/b03.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
 .jssorb03 div { background-position: -5px -4px; }
   .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }     
   .jssorb03 .av { background-position: -65px -4px;      }
        .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }               
 .jssora03l, .jssora03r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url('../img/a03.png') no-repeat;
            overflow: hidden;
        }
        .jssora03l { background-position: -3px -33px; }
        .jssora03r { background-position: -63px -33px; }
        .jssora03l:hover { background-position: -123px -33px; }
        .jssora03r:hover { background-position: -183px -33px; }
        .jssora03l.jssora03ldn { background-position: -243px -33px; }
        .jssora03r.jssora03rdn { background-position: -303px -33px; }

        .wrapper3 {
            position: relative;
            width: 200px;
            height: 150px;
        }
        
        .img-up {
            width: 100% !important;
            height: 100% !important;
            position: absolute;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
        }

        .wrapper3 .show {
            position: absolute;
            bottom: 0;
            left: 30px;
            width: 100%;
            height: 0px;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
            color: #fff;
        }

        .wrapper3:hover .show {
            height: 40px;
        }

        .wrapper3:hover .img-up {
            top: -20px !important;
          transform: translate(0px, -20px);
        }

        .header {
        	position: relative;
        	left: 100px;
        }
//For modal 
.modal-header {
    margin-top: 30px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.space-icon{
	margin-right:15px;
	margin-left: 10px;
}



/*Trung footer*/
/* footer */
.footer-widgets {
	background-color: #252525;
	padding-top: 15px;
}
.widget {
	padding-bottom: 10px;
}
.widget-title {
	color: #fff;
	margin-bottom: 15px;
	margin-top: 25px;
}
.widget-content {
	color: #acacac
}
.list-socials {
	list-style: none;
	margin: 0;
	padding: 0;
}
.list-socials li {
	float: left;
	margin-right: 20px;
}
.list-socials li a {
	color:  #acacac;
	font-size: 18px;
}
.list-socials li a:hover {
	color: #599bff;
}
.footer-copyright {
	padding: 5px 0px 5px 0px;
	background-color: #2f2f2f;
}
.copyright span,
.language span {
	font-size: 80%;
	color: #acacac;
}
.language a {
	color: #acacac;
	font-size: 80%;
}
.language a:hover {
	color: red;
	text-decoration: none;
}